<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   </head>
   <body>
      <div class="jumbotron">
         <h1>{{ peanut.zhtitle }}<small>{{ peanut.entitle }}</small></h1>
         <p>
            {{ peanut.summary }}
         </p>
         <p>
            <a href="{{ peanut.link }}" target="_blank" class="btn btn-lg btn-success">Douban</a>
            <a href="{{ html_magnet_link }}" target="_blank" class="btn btn-lg btn-info">Magnet</a>
            <a href="{{ html_netpan_link }}" target="_blank" class="btn btn-lg btn-warning">Watch</a>
         </p>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <img src="{{ peanut.post }}" class="img-rounded img-responsive">
            </div>
            <div class="col-md-4">
               <ul class="list-group">
                  <li class="list-group-item"><span class="glyphicon glyphicon-film"></span><b>    Title</b>: {{ peanut.zhtitle }}</li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span><b>    Year</b>: {{ peanut.year }}</li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span><b>    Country</b>: {{ peanut.country }}</li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-tag"></span><b>    Genre</b>: {{ peanut.genre }}</li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-facetime-video"></span><b>    Director</b>: {{ peanut.director.name }}</li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-user"></span><b>    Casts</b>: {{ peanut.casts }}</li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-star"></span><b>  Rating</b>: {{ peanut.rating }}</li>
                  <li class="list-group-item"><span class="glyphicon glyphicon-copyright-mark"></span><b>  RatingCount</b>: {{ peanut.ratingcount }}</li>
               </ul>
            </div>
            <div class="col-md-4">
               {% for line in range(row) %}
               <div class="row">
                  {% for col in range(2) %}
                  {% if line == 0 and col == 0 %}
                  <div class="col-md-6">
                     <div class="thumbnail">
                        <img src="{{ peanut.director.avatar }}" class="img-circle img-responsive">
                        <div class="caption text-center">
                           <a href="{{ peanut.director.link }}">
                              <h7>{{ peanut.director.name }}</h7>
                           </a>
                        </div>
                     </div>
                  </div>
                  {% endif %}
                  {% if (line) * 2 + col + 1 < num %}
                  <div class="col-md-6">
                     <div class="thumbnail">
                        <img src="{{ peanut.casts[line*2+col].avatar}}" class="img-circle img-responsive">
                        <div class="caption text-center">
                           <a href="{{peanut.casts[line*2+col].link }}">
                              <h7>{{ peanut.casts[line*2+col].name }}</h7>
                           </a>
                        </div>
                     </div>
                  </div>
                  {% endif %}
                  {% endfor%}
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
{% endautoescape %}